JOB_PARSER_SERVICE=http://localhost:9001
SKILLS_SERVICE=http://localhost:9002
JOB_SKILLS_SERVICE=http://localhost:9004
SKILL_SYNONYMS_SERVICE=http://localhost:9005

# GITHUB_ISSUE_SERVICE=
# MARKDOWN_TO_HTML_SERVICE=
# TRANSLATE_SERVICE=
