JOB_PARSER_SERVICE=http://parse-job-posting:9001
SKILLS_SERVICE=http://skills:9002
JOB_SKILLS_SERVICE=http://job-skills:9004
SKILL_SYNONYMS_SERVICE=http://skill-synonyms:9005

# GITHUB_ISSUE_SERVICE=
# MARKDOWN_TO_HTML_SERVICE=
# TRANSLATE_SERVICE=
