.item.knowledge-source {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  
  .title {
    font-size: 1.5rem;
    font-weight: 650;
    margin-bottom: 8px;
  }

  .meta {
    font-size: 0.9rem;
    color: var(--muted);
    margin-bottom: 8px;
  }

  .text {
    color: var(--text);
    line-height: 1.7;
    max-width: 75ch;
  }
  summary {
    padding-top: 16px;
    cursor: pointer;
  }

  ul {
    margin-top: 14px;
    padding-left: 18px;
    color: var(--text);
    margin-bottom: 0;
  }

  ul li {
    margin-top: 6px;
  }
}


@media (max-width: 700px) {
  .item.knowledge-source {
    .title {
      font-size: 1.2rem;
    }
  }
}