# Environment variables for database connection
DB_HOST=localhost
DB_PORT=5432
DB_NAME=parse_job_posting
DB_USER=postgres
DB_PASSWORD=postgres

# Async database URL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/parse_job_posting
DATABASE_SYNC_URL=postgresql://postgres:postgres@postgres:5432/parse_job_posting

# PgAdmin credentials
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin