.app {
  display: flex;
  flex-direction: row;
}
.app-content {
  flex-grow: 1;
  padding-left: 260px;
}

@media screen and (max-width: 700px) {
  .app {
    flex-direction: column;
  }
  .app-content {
    padding-left: 56px;
  }
}